@charset "ISO-8859-1";

/*body*/
body {
	background-color: #FAF0CA;
}

/*nav bar*/
.navbar {
	border-radius: 0;
	background: #0D3B66;
	width: 179ch;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.logo {
	margin-left: 5ch;
}

.top_title {
	color: #EE964B;
	padding-right: 20px;
	font-size: 18px;
	font-family: Freude;
	text-decoration: none;
	margin-bottom: -10ch;
}

.top_title_main {
	color: #F95738;
	padding-right: 20px;
	font-size: 18px;
	font-family: Freude;
	text-decoration: none;
}

.tabs {
	margin-left: 1235px;
	margin-top: -4.5ch;
	position: absolute;
}

/*images*/
.home-page-dog-img {
	margin-top: .77rem;
	margin-left: -.5rem;
	background-size: cover;
	width: 101rem;
}

/*dogs*/
.columnDog1 {
	float: left;
	width: 23%;
}

.dog-1 {
	width: 19rem;
	height: 23.4rem;
	margin-left: 6rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #0D3B66;
}

.white-text {
	color: white;
	font-family: Omnes;
	font-weight: 10100;
	letter-spacing: .2rem;
	font-size: 1.1rem;
	margin-top: -18.5rem;
	margin-left: 0.5rem;
	margin-bottom: 15rem;
}

.yellow-text {
	font-family: Omnes;
	font-size: 1rem;
	color: #F4D35E;
	font-weight: 170;
	letter-spacing: .01rem;
	margin-top: 15.5rem;
	margin-left: 0.5rem;
}

.yellow-text1 {
	font-family: Omnes;
	font-size: 1rem;
	color: #F4D35E;
	font-weight: 170;
	letter-spacing: .01rem;
	margin-top: -2.3rem;
	margin-left: 0.5rem;
}

.stars {
	margin-top: -2.1rem;
	margin-left: 0.5rem;
	font-size: 1rem;
}

.fa-star {
	color: #EE964B;
}

.none {
	color: #EE964B;
	opacity: 59%;
}

/*dog description*/
.desc {
	margin-top: 6rem;
	margin-left: 15rem;
}

.column1 {
	float: left;
	width: 29%;
}

.descText {
	margin-left: 25rem;
	font-family: Omnes;
}

.dog-title {
	letter-spacing: .2rem;
	font-size: 1.7rem;
	margin-top: 0rem;
	margin-bottom: -.8rem;
	color: #F95738;
}

.dog-text {
	letter-spacing: .1rem;
	font-size: 1.2rem;
	color: #0D3B66;
}

.stars1 {
	margin-top: -2.1rem;
	font-size: 1.3rem;
}

.have {
	color: #F95738;
}

.none1 {
	color: #F95738;
	opacity: 59%
}

/*reviews*/
.review-title {
	letter-spacing: .2rem;
	font-size: 1.7rem;
	color: #EE964B;
	font-family: Omnes;
	margin-left: 15rem;
}

button {
	position: absolute;
	left: 15.5rem;
	top: 33rem;
	font-size: 1.3rem;
	font-family: Freude;
	letter-spacing: 0.1rem;
	color: #0D3B66;
	background-color: #F4D35E;
	border: solid #0D3B66;
}

.columnReviews1 {
	float: left;
	width: 24%;
}

.review-1 {
	width: 20rem;
	height: 15rem;
	margin-left: 15rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #0D3B66;
	border-radius: .3rem;
}

.review-text {
	letter-spacing: .1rem;
	font-size: 1.2rem;
	color: #F4D35E;
	font-family: Omnes;
	margin-left: 0.5rem;
	margin-top: 0.1rem;
}

.review-username {
	font-family: Freude;
	letter-spacing: .1rem;
	font-size: 1rem;
	color: #EE964B;
	font-weight: lighter;
	margin-left: 0.5rem;
	position: absolute;
	bottom: -2.5rem;
}

.review-username1 {
	font-family: Freude;
	letter-spacing: .1rem;
	font-size: 1rem;
	color: #EE964B;
	font-weight: lighter;
	margin-left: 0.5rem;
	position: absolute;
	bottom: -20.2rem;
}

.stars2 {
	margin-left: 10.5rem;
	position: absolute;
	bottom: -0.8rem;
	font-size: 1rem;
}

.stars-2 {
	margin-left: 10.5rem;
	position: absolute;
	bottom: -18.6rem;
	font-size: 1rem;
}

.fa-pencil, .fa-trash {
	font-size: 1.05rem;
	color: #EE964B;
}